{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <h1>All Posts</h1>
    <br>

    <div class="container border rounded" >
        <br><form class="" method="post", action= {% url 'new_post' %}>
            {% csrf_token %}
            <h3>New Post</h3>
            <textarea class="form-control" id="new_post_text" name="new_post_text" rows="3"></textarea>
            <br>
            <button class="btn btn-primary" id="submit_post">Submit</button>
        </form><br>
    </div>
    <br>

    
        {% for post in page_obj %}
        <div class="container border rounded" data-data = "{{ user.id }}" id="object">
            <br>  
            <div class="row">
                <div class="col-6">
                    <h5><a href="{% url 'profile' post.creator.id %}">{{ post.creator }}</a></h5>
                </div>
                <div class="col-6">
                    <h6>{{ post.timestamp }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p id="content{{ post.creator.id }}">{{ post.content }}</p>
                </div>
            </div>

            
                {% if post.creator.id == user.id %}

                    <form style="display:none" id="edit_post_form" method="post", action= {% url 'edit_post' post.id %}>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <textarea class="form-control" id="edit_post_text" name="edit_post_text">{{ post.content }}</textarea>
                            </div>   
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                    <button class="btn btn-primary" type="submit" id="submit_edit_post">Submit</button>
                            </div>
                            <div class="col-6">
                                    <button class="btn btn-primary" id="cancel_edit_post">Cancel</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            

            <br>

            <div class="row" id="buttonsLCE{{ post.creator.id }}">
                <div class="col-4">
                    <button class="btn btn-primary" id="like_post">Like</button>
                </div>
                
                <div class="col-4">
                    <button class="btn btn-primary" id="comment_post">Comment</button>
                </div>

                {% if post.creator.id == user.id %}
                <div class="col-4">
                        <button class="btn btn-primary" id="edit_post">Edit</button>
                </div>
                {% endif %}
            </div>

            <br>    
        </div>
        <br>
        {% endfor %}

    <br>
    <br>
    <div class="container">
        <hr>

        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        {% if page_obj.has_next %}        
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
        {% endif %}
        <hr>

    </div>

    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}
