{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <br>
    <h1 class="text-5xl font-bold  ml-2">All Posts</h1>
    <br>

    <div class="container rounded-xl " >
        <br><form class="" method="post", action= {% url 'new_post' %}>
            {% csrf_token %}
            <h3 class="text-center font-extrabold text-4xl">New Post</h3>
            <br>
            <textarea class="form-control rounded-xl" id="new_post_text" name="new_post_text" rows="3"></textarea>
            <br>
            <button class="btn btn-danger btn-block rounded-lg transition ease-in-out delay-150 bg-black hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300" id="submit_post">Submit</button>
        </form><br>
    </div>
    <br>
    


        {% for post in page_obj %}
        
        <div class="container rounded-xl transition ease-in-out delay-150 bg-black hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 " data-data = "{{ post.id }}" id="object">
            <hr>
            <br>  
            <div class="row">
                <div class="col-6">
                    <h5 class="text-xl font-bold"><a href="{% url 'profile' post.creator.id %}">{{ post.creator }}</a></h5>
                </div>
                <div class="col-6">
                    <h6 class="text-xl font-bold">{{ post.timestamp }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p id="content{{ post.id }}">{{ post.content }}</p>
                </div>
            </div>

            
                {% if post.creator.id == user.id %}

                    <form style="display:none" id="edit_post_form{{ post.id }}" method="post", action= {% url 'edit_post' post.id %}>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <textarea class="form-control " id="edit_post_text" name="edit_post_text">{{ post.content }}</textarea>
                            </div>   
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                    <button class="bg-blue-500 hover:bg-black text-blue-800 font-semibold py-2 px-4 border border-blue-900 rounded shadow" type="submit" id="submit_edit_post">
                                        Submit
                                    </button>
                            </div>
                            <div class="col-6">
                                    <button class="cancel_edit_post bg-blue-500 hover:bg-black text-blue-800 font-semibold py-2 px-4 border border-blue-900 rounded shadow" data-data = "{{ post.id }}" >
                                        Cancel
                                    </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            

            <br>

            <div class="row" id="buttonsLCE{{ post.id }}">
                {% if user in post.likes.all %}
                <div class="col-4">
                    <button class="like_post  hover:bg-black text-blue-800 font-semibold py-2 px-4 border border-blue-900 rounded shadow" data-data = "{{ post.id }}" id="like_post{{ post.id }}">
                        &#10084;
                    </button>
                </div>

                {% else %}
                <div class="col-4">
                    <button class="like_post hover:bg-black text-blue-800 font-semibold py-2 px-4 border border-blue-900 rounded shadow" data-data = "{{ post.id }}"id="like_post{{ post.id }}">
                        &#9825; 
                    </button>
                </div>
                {% endif %}
                
                
                <div class="col-4">
                    <button class=" bg-blue-500 hover:bg-black text-blue-800 font-semibold py-2 px-4 border border-blue-900 rounded shadow" id="comment_post">
                        Comment
                    </button>
                </div>

                {% if post.creator.id == user.id %}
                <div class="col-4">
                        <button class="edit_post bg-blue-500 hover:bg-black text-blue-800 font-semibold py-2 px-4 border border-blue-900 rounded shadow" data-data = "{{ post.id }}">
                            Edit
                        </button>
                </div>
                {% endif %}
            </div>

            <br>
            <hr>   
        </div>
        <br>
        
        {% endfor %}

    <br>
    <br>
    <div class="container">
        <hr>

        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        {% if page_obj.has_next %}        
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo</a>
        {% endif %}
        <hr>

    </div>

    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}
